.header-container {
  background-color: #0a0129;
  font-family: 'Poppins', sans-serif;
}

.header-title {
  text-align: center;
  color: rgb(243, 239, 239);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size:1.2rem;
}


@media screen and (max-width: 650px) {
  .header-title{
    font-size: 0.7rem;
  }
}